<h2>Branch Details</h2>

<%= render "branch_details.html", branch: @branch %>

<div style="margin-bottom: 10px"><%= link "<  Back", to: branch_path(@conn, :search_index), class: "redirection" %></div>