#branch-search-results{
  margin-top: 20px;

  td.ifsc-row{
    min-width: 180px;
  }
}

#branch-search-component, #search-via-code{
  h1 {
    font-size: 1.5rem;
  }
}


#submit-ifsc, #submit-code-search{
  width: 150px;
  background-color: #2e6e8c;
  border-color: #2e6e8c;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
}
.hvr-underline-from-center.active-anim:before{
  -webkit-animation-name: underline-anime;
  animation-name: underline-anime;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


@keyframes underline-anime {
  70%, 100% {
    left: 0;
    right: 0;
  }
}


@include media-breakpoint-between(md, md){
  .branch-table{
    .table th, .table td{
      padding: 0.5rem;
    }

    .branch-address{
      max-width: 340px;
    }
  }
}

@include media-breakpoint-down(sm){

  // .table th, .table td{
  //   padding: 0.5rem;
  // }

  .branch-table{
    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
      /* Behave  like a "row" */
      border: none;
      position: relative;
      padding-left: 30%;
    }

    tr td:not(:last-child){
      border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      // top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-transform: none
    }

    td:nth-of-type(1):before { content: "Name"; }
    td:nth-of-type(2):before { content: "IFSC"; }
    td:nth-of-type(3):before { content: "Address"; }
  }
}