.unstyled-list{
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;

  li{
    background-color: #eff0f1;
    margin-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    min-height: 40px;
  }
}

.about-div{
  margin-bottom: 20px;

  p{
    margin-bottom: 0.5rem;
  }
}

.copy-icon{
  color: rgba(17, 134, 243, 0.842);
  cursor: pointer;
  margin-left: 10px;
}

.cursor-pointer{
  cursor: pointer;
}

.text-cap::first-letter { text-transform: uppercase; }
.text-cap { text-transform: lowercase; }

.navbar-brand{
  font-family: 'Exo', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.navbar-light .navbar-brand{
  color: rgba(0, 0, 0, 0.65);
}