h1 {
  font-size: 1.5rem;
}

a:hover{
  text-decoration: none;
}

.unstyled-list{
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;

  li{
    background-color: #eff0f1;
    margin-bottom: 10px;
    padding-top: 7px;
    padding-bottom: 5px;
    min-height: 40px;
  }
}

.about-div{
  margin-bottom: 30px;

  p{
    margin-bottom: 0.5rem;
  }
}

.copy-icon{
  color: rgba(17, 134, 243, 0.842);
  cursor: pointer;
  margin-left: 10px;
}

.cursor-pointer{
  cursor: pointer;
}

.redirection{
  font-weight: bold;
  color: rgba(0, 149, 255, 0.79);
  margin-bottom: 10px;
}

.scroll-to-top{
  font-size: 2rem;
  cursor: pointer;
  padding-right: 10px;
}

.std-mrgn-t{
  margin-top: 20px;
}

.text-cap::first-letter { text-transform: uppercase; }
.text-cap { text-transform: lowercase; }
