.header{
  border-top: 10px solid rgba(46, 158, 254, 0.33);
  margin-bottom: 40px;

  nav.navbar{
    background-color: rgba(0, 0, 0, 0.075) !important;
    padding: 0.8rem 1rem;

    .nav-item .nav-link, .navbar-text{
      color: black;
    }
  }

  .navbar-brand{
    font-size: 1.4rem;
    border: 2px solid rgba(255, 0, 0, 0.28);
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 7px;
    font-family: 'Exo', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  .navbar-text a{
    color: black !important;
  }

  .navbar-text a:hover{
    color: rgba(255, 0, 0, 0.68) !important;
  }
}

  .navbar-light .navbar-brand{
    color: rgba(0, 0, 0, 0.65);
  }

  @include media-breakpoint-up(md) {
    ul.navbar-nav{
      margin-left: 30px;

      li{
        padding-right: 30px;
      }
    }

    ul li a.nav-link:hover, .navbar-text:hover{
      color: rgba(255, 0, 0, 0.68) !important;
    }
  }

  @include media-breakpoint-down(sm){
    ul.navbar-nav{
      margin-top: 15px;

      // list-style-type: circle;

      li{
        border-bottom: 1px solid rgba(0, 0, 0, 0.43);
        padding-left: 20px;
      }
    }

    .navbar-text{
      padding-left: 20px;
    }
  }

  .header::after {
    display: block;
    clear: both;
    content: "";
}