#search-via-code{

  form{
    margin-top: 50px;
  }

  .ifsc-input{
    max-width: 200px;
    margin: auto;
  }

  .result ul{
    margin-bottom: 30px;
  }

  .error-container{
    text-align: center;
  }

  .error-con .error-container{
    margin-top: 10px;
  }
}