<h2>Listing States</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for state <- @states do %>
    <tr>
      <td><%= state.name %></td>

      <td class="text-right">
        <span><%= link "Show", to: state_path(@conn, :show, state), class: "btn btn-default btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New State", to: state_path(@conn, :new) %></span>
