<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Find IFSC Code</title>
    <script src="https://use.fontawesome.com/cc4a7aa682.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Exo:400,700" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="page-wrap">
      <header class="header">
        <%= render "header.html", conn: @conn %>
      </header>
      <div class="container">
        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div> <!-- /container -->
    <footer>
      <p><a href="https://github.com/vishaldeepak/" aria-label="Goto My Github Page"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://twitter.com/nowvishal" aria-label="Goto My Twitter Page"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </p>
        <p>&copy; 2017 Vishal Deepak.</p>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
